/* screen - index */

.aboutnalssam {
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 27px;
  letter-spacing: -1.73px;
}
.aboutthenalssam {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.and {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.applesdgothicneo-heavy-normal-white-24px {
  color: var(--white);
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 24px;
}
.applesdgothicneo-normal-caribbean-green-18px {
  color: var(--caribbean-green);
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 18px;
}
.asd {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 28px;
  letter-spacing: 0.00px;
}
.asdfad {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 0.00px;
}
.facetimestyle {
  font-family: "SFCompact-Regular", Helvetica, Arial, serif;
  font-size: 195px;
  letter-spacing: 0.00px;
}
.google-ads--style {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 58px;
  letter-spacing: -3.00px;
}
.hw-little-fonts {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.index {
  background-color: var(--white);
  height: 8996px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.index .ai-Lh8DxQ {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 153px;
}
.index .asdfasddfafafga-fasdfasdf00007-vSXVhc {
  background-color: transparent;
  height: 400px;
  left: 590px;
  position: absolute;
  top: 140px;
  width: 400px;
}
.index .bar-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 8896px;
  width: 1440px;
}
.index .bio-page-ELTpdZ {
  background-color: transparent;
  font-weight: 200;
  height: auto;
  left: 2px;
  letter-spacing: -1.11px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 112px;
}
.index .bio-sw-hw-bm-md-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  height: auto;
  left: 604px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 457px;
  white-space: nowrap;
  width: 232px;
}
.index .bitmap-C61RwL {
  background-color: transparent;
  height: 17px;
  left: 1432px;
  position: absolute;
  top: 2318px;
  width: 8px;
}
.index .bm-page-PRkrZc {
  background-color: transparent;
  font-weight: 200;
  height: auto;
  left: 2px;
  letter-spacing: -1.11px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 112px;
}
.index .business-C61RwL {
  background-color: transparent;
  height: 431px;
  left: 992px;
  position: absolute;
  top: 1837px;
  width: 206px;
}
.index .business-slave-Wiaq1W {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 24px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}
.index .button-C61RwL {
  background-color: var(--caribbean-green);
  height: 60px;
  left: 610px;
  position: absolute;
  top: 492px;
  width: 218px;
}
.index .click-3qshht {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 608px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.index .click-bAyQtV {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 139px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.index .click-hdKSmR {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 844px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.index .click-waRZGu {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 1080px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.index .click-zLZUBK {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 372px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 155px;
  white-space: nowrap;
  width: auto;
}
.index .cr-xd0wTK {
  background-color: transparent;
  background-image: url(../img/bio-asdfasddfafafgasfasdfasdfasdf00007-AA9CB208-D745-4F8E-AB4F-085D8307EC46@2x.png);
  background-size: 100% 100%;
  height: 135px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}
.index .footer-enIJlq {
  background-color: var(--eerie-black);
  height: 100px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1440px;
}
.index .g-slave-C61RwL {
  background-color: transparent;
  height: 429px;
  left: 741px;
  position: absolute;
  top: 1837px;
  width: 206px;
}
.index .g-slave-xd0wTK {
  background-color: transparent;
  background-image: url(../img/bio-u110eu116cu110cu1169u11bc-u1105u1169u1100u116900004-2DCE73FC-7AD1-4DF1-B9D1-7A79D355B3DF@2x.png);
  background-size: 100% 100%;
  height: 135px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}
.index .google-ads-0Wn9XG {
  background-color: transparent;
  color: rgba(250,251,255,1.0);
  font-weight: 800;
  height: auto;
  left: 101px;
  line-height: 69px;
  position: absolute;
  text-align: left;
  top: 413px;
  width: 272px;
}
.index .green-slave-AcGW2E {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 37px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 131px;
}
.index .group-10-vSXVhc {
  background-color: transparent;
  border: 1.8px solid rgba(150,150,150,1.0);
  height: 36px;
  left: 89px;
  position: absolute;
  top: 563px;
  width: 193px;
}
.index .group-11-C61RwL {
  background-color: transparent;
  height: 190px;
  left: -1px;
  position: absolute;
  top: 72px;
  width: 1442px;
}
.index .group-12-copy-AcGW2E {
  background-color: transparent;
  height: 23px;
  left: 45px;
  position: absolute;
  top: 406px;
  width: 115px;
}
.index .group-12-copy-Cqd0xX {
  background-color: transparent;
  height: 23px;
  left: 45px;
  position: absolute;
  top: 407px;
  width: 115px;
}
.index .group-12-copy-Lh8DxQ {
  background-color: transparent;
  height: 23px;
  left: 44px;
  position: absolute;
  top: 406px;
  width: 115px;
}
.index .group-12-copy-Wiaq1W {
  background-color: transparent;
  height: 23px;
  left: 46px;
  position: absolute;
  top: 408px;
  width: 115px;
}
.index .group-2-PIEh7b {
  background-color: transparent;
  height: 681px;
  left: 245px;
  position: absolute;
  top: 1356px;
  width: 1072px;
}
.index .group-3-PIEh7b {
  background: linear-gradient(180deg, #4D58FF 0%, #2F9BFF 100%);
  background-color: transparent;
  border-radius: 39px;
  height: 827px;
  left: 246px;
  position: absolute;
  top: 2065px;
  width: 519px;
}
.index .group-4-PIEh7b {
  background: linear-gradient(180deg, #FFAA3D 0%, #FFDF61 100%);
  background-color: transparent;
  border-radius: 39px;
  height: 827px;
  left: 797px;
  position: absolute;
  top: 2065px;
  width: 519px;
}
.index .group-5-C61RwL {
  background-color: transparent;
  height: 670px;
  left: 184px;
  position: absolute;
  top: 2443px;
  width: 1081px;
}
.index .group-6-C61RwL {
  background-color: transparent;
  height: 2980px;
  left: -43px;
  position: absolute;
  top: 5916px;
  width: 1491px;
}
.index .group-6-bAyQtV {
  background-color: var(--bunker);
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1442px;
}
.index .group-7-3cZhlu {
  background-color: transparent;
  height: 20px;
  left: 161px;
  position: absolute;
  top: 1px;
  width: 10px;
}
.index .group-8-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 644px;
  position: absolute;
  top: 1445px;
  width: 172px;
}
.index .group-9-C61RwL {
  background-color: transparent;
  height: 679px;
  left: 174px;
  position: absolute;
  top: 3158px;
  width: 1081px;
}
.index .group-ZXviDO {
  background-color: transparent;
  height: 18px;
  left: 861px;
  position: absolute;
  top: 72px;
  width: 338px;
}
.index .hard-ware-slave-Lh8DxQ {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 15px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 175px;
}
.index .hr-Ij0EpA {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 42px;
  width: 947px;
}
.index .hr-ZXviDO {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 68px;
  width: 947px;
}
.index .hr-dIx87p {
  background-color: var(--mine-shaft);
  height: 1px;
  left: 0px;
  position: relative;
  top: 71px;
  width: 1440px;
}
.index .hw-page-xcE9OD {
  background-color: transparent;
  font-weight: 200;
  height: auto;
  left: 2px;
  letter-spacing: -1.11px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 112px;
}
.index .kakao-talk2021-pg-comp-100000-C61RwL {
  background-color: transparent;
  background-image: url(../img/index-kakaotalk20210208201052745jpg-comp-100000-37CF6038-FF9E-458B-9ADA-3A299689D170.png);
  background-size: 100% 100%;
  height: 627px;
  left: -1px;
  position: absolute;
  top: 596px;
  width: 1440px;
}
.index .line-2-xd0wTK {
  background-color: transparent;
  height: 72px;
  margin: 0 0 0 50px;
  position: relative;
  width: 1px;
}
.index .line-3-HrtGqK {
  background-color: transparent;
  height: 72px;
  margin: 0 0 0 50px;
  position: relative;
  width: 1px;
}
.index .line-3-Hxo22Q {
  background-color: transparent;
  height: 72px;
  margin: 0 0 0 50px;
  position: relative;
  width: 1px;
}
.index .line-3-xLcPb5 {
  background-color: transparent;
  height: 72px;
  margin: 0 0 0 50px;
  position: relative;
  width: 1px;
}
.index .line-3-xd0wTK {
  background-color: transparent;
  height: 72px;
  margin: 0 0 0 50px;
  position: relative;
  width: 1px;
}
.index .line-6tkUdT {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 10px;
  width: 10px;
}
.index .line-d71PT4 {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 10px;
}
.index .meoeomfpamsdfoa-lddkfasdd00000-C61RwL {
  background-color: transparent;
  height: 291px;
  left: 994px;
  position: absolute;
  top: 1516px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00000-RX1U68 {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00001-C61RwL {
  background-color: transparent;
  height: 291px;
  left: 491px;
  position: absolute;
  top: 1516px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00001-p45A1x {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00002-C61RwL {
  background-color: transparent;
  height: 291px;
  left: 743px;
  position: absolute;
  top: 1516px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00002-UBpfx5 {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00003-BhO0ex {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.index .meoeomfpamsdfoa-lddkfasdd00003-C61RwL {
  background-color: transparent;
  height: 291px;
  left: 239px;
  position: absolute;
  top: 1516px;
  width: 204px;
}
.index .more00000-TVJ55C {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 84px;
}
.index .more00000-xd0wTK {
  background-color: transparent;
  height: 32px;
  margin: 0 0 0 50px;
  position: relative;
  width: 84px;
}
.index .nalssam-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 670px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 362px;
  white-space: nowrap;
  width: 98px;
}
.index .nalssam-Ij0EpA {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 1029px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 170px;
}
.index .nalssam-PIEh7b {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 297px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 333px;
  white-space: nowrap;
  width: 230px;
}
.index .nalssam-UOcbxe {
  background-color: transparent;
  font-weight: 800;
  height: auto;
  left: 248px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 118px;
}
.index .nalssam-VMr6Om {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 250px;
  line-height: 87px;
  position: absolute;
  text-align: center;
  top: 1343px;
  white-space: nowrap;
  width: 937px;
}
.index .nalssam-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 375px;
}
.index .nalssam-vSXVhc {
  background-color: transparent;
  color: rgba(119,41,196,1.0);
  font-weight: 700;
  height: auto;
  left: 91px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 79px;
  width: 462px;
}
.index .nalssam-yyyxtx {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 11px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: 167px;
}
.index .navbar-UOcbxe {
  background-color: var(--cod-gray);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .path-copy-ELTpdZ {
  background-color: transparent;
  height: 21px;
  left: 103px;
  position: absolute;
  top: 1px;
  width: 8px;
}
.index .path-copy-PRkrZc {
  background-color: transparent;
  height: 21px;
  left: 103px;
  position: absolute;
  top: 1px;
  width: 8px;
}
.index .path-copy-kzye9S {
  background-color: transparent;
  height: 21px;
  left: 103px;
  position: absolute;
  top: 1px;
  width: 8px;
}
.index .path-copy-xcE9OD {
  background-color: transparent;
  height: 21px;
  left: 103px;
  position: absolute;
  top: 1px;
  width: 8px;
}
.index .rectangle-9dtg3L {
  background-color: var(--white);
  height: 679px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1080px;
}
.index .rectangle-C61RwL {
  background-color: rgba(242,242,242,1.0);
  height: 1518px;
  left: 1px;
  position: absolute;
  top: 2385px;
  width: 1439px;
}
.index .rectangle-PIEh7b {
  background-color: var(--black);
  height: 2980px;
  left: 43px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .rectangle-VMr6Om {
  background-color: transparent;
  height: 679px;
  left: 141px;
  overflow: hidden;
  position: absolute;
  top: 3158px;
  width: 1158px;
}
.index .rectangle-copy-vSXVhc {
  background: linear-gradient(134deg, #B474FF 0%, #6B3ED0 100%);
  background-color: transparent;
  border-radius: 39px;
  height: 681px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 1070px;
}
.index .rectangle-iZjIT4 {
  background-color: var(--white);
  height: 670px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1080px;
}
.index .soft-ware-C61RwL {
  background-color: transparent;
  height: 430px;
  left: 239px;
  position: absolute;
  top: 1837px;
  width: 206px;
}
.index .soft-ware-slave-Cqd0xX {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 19px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 167px;
}
.index .stacked-group-W8YgeY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 135px;
  justify-content: flex-start;
  left: 92px;
  position: relative;
  top: 23px;
  width: auto;
}
.index .sw-logo-xd0wTK {
  background-color: transparent;
  background-image: url(../img/hw-swlogo-E686EA96-EA4C-4FED-9A47-FBE30F28EC2D@2x.png);
  background-size: 100% 100%;
  height: 130px;
  margin: 0;
  position: relative;
  width: 130px;
}
.index .sw-page-kzye9S {
  background-color: transparent;
  font-weight: 200;
  height: auto;
  left: 2px;
  letter-spacing: -1.11px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 112px;
}
.index .textlabel-0Wn9XG {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 48px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: 83px;
}
.index .textlabel-3cZhlu {
  background-color: transparent;
  color: var(--caribbean-green);
  font-weight: 200;
  height: auto;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 157px;
}
.index .textlabel-AFvZLD {
  background-color: transparent;
  color: var(--white);
  font-weight: 457.8999;
  height: auto;
  left: 147px;
  line-height: 233px;
  position: absolute;
  text-align: left;
  top: 166px;
  white-space: nowrap;
  width: 241px;
}
.index .textlabel-AcGW2E {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 170px;
}
.index .textlabel-Cqd0xX {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 171px;
}
.index .textlabel-PIEh7b {
  background-color: transparent;
  color: var(--white);
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 500;
  height: auto;
  left: 297px;
  letter-spacing: -1.80px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 146px;
  width: 508px;
}
.index .textlabel-Wiaq1W {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 25px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 170px;
}
.index .textlabel-kk4Co4 {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 58px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: 32px;
}
.index .textlabel-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 68px;
}
.index .textlabel-vSXVhc {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 91px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 137px;
  width: 350px;
}
.index .textlabel-xHxYv9 {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 17px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 184px;
}
.index .the-hard-ware-C61RwL {
  background-color: transparent;
  height: 429px;
  left: 490px;
  position: absolute;
  top: 1838px;
  width: 206px;
}
.index .view-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .vr-copy-ZXviDO {
  background-color: var(--tundora);
  height: 9px;
  left: 1022px;
  position: absolute;
  top: 53px;
  width: 1px;
}
.index .vr-copy-mmDlSt {
  background-color: var(--tundora);
  height: 15px;
  left: 195px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.index .vr-mmDlSt {
  background-color: var(--tundora);
  height: 15px;
  left: 78px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.index .x-001-3-C61RwL {
  background-color: transparent;
  height: 671px;
  left: 184px;
  position: absolute;
  top: 2442px;
  width: 1081px;
}
.index .x-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 373px;
  line-height: 87px;
  position: absolute;
  text-align: center;
  top: 381px;
  white-space: nowrap;
  width: 694px;
}
.index .x-DHVFwL {
  background-color: transparent;
  height: 913px;
  left: 0px;
  position: absolute;
  top: 317px;
  width: 1491px;
}
.index .x-PIEh7b {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 298px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 146px;
  white-space: nowrap;
  width: 340px;
}
.index .x-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 751px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 49px;
  white-space: nowrap;
  width: 265px;
}
.index .x00001-xd0wTK {
  background-color: transparent;
  height: 135px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}
.index .x00002-xd0wTK {
  background-color: transparent;
  height: 135px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}
.index .x001-C61RwL {
  background-color: transparent;
  height: 2019px;
  left: -13px;
  position: absolute;
  top: 3903px;
  width: 1454px;
}
.index .x010-29-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 69px;
  white-space: nowrap;
  width: 201px;
}
.index .x010-8402-2173-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 206px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 132px;
}
.index .x1-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 89px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 96px;
}
.index .x2-copy-4IwKbr {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 361px;
  width: 205px;
}
.index .x2-copy-9XfIP7 {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 361px;
  width: 205px;
}
.index .x2-copy-AcGW2E {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 205px;
}
.index .x2-copy-Cqd0xX {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 205px;
}
.index .x2-copy-Lh8DxQ {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 205px;
}
.index .x2-copy-Wiaq1W {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 62px;
  width: 205px;
}
.index .x2-copy-hDo3rj {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 361px;
  width: 205px;
}
.index .x2-copy-xaI9EI {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 361px;
  width: 205px;
}
.index .x20210308-202103-AFvZLD {
  background-color: transparent;
  color: var(--white);
  font-weight: 600;
  height: auto;
  left: 59px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 484px;
  width: 400px;
}
.index .x3d-vSXVhc {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 91px;
  line-height: 33px;
  position: absolute;
  text-align: left;
  top: 367px;
  width: 393px;
}
.more {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 20px;
  letter-spacing: -1.00px;
}
.moreim {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 20px;
  letter-spacing: -1.00px;
}
.nalssamcr48 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.nalssamlogo {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.nalssamlogoblack {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.00px;
}
.newnew {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 22px;
  letter-spacing: -1.51px;
}
.newstyle {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 24px;
}
.sd21green {
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.00px;
}
.sd25 {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 25px;
  letter-spacing: 0.00px;
}
.sd36 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: -2.22px;
}
.sd47blue {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48bold {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48colorfull {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48medium {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -1.80px;
}
.sd48newcolor {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sdidontknow {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.sdmedium24 {
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -0.98px;
}
.sdsemi24 {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -1.48px;
}
.sdthenewenwcolor {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sdultralight {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.sizes {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: -1.24px;
}
.thebig {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 72px;
  letter-spacing: -5.40px;
}
.thebigwhite {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.theintervuew {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.with-nalssam {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 60px;
  letter-spacing: -2.25px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --bunker: rgba(17,17,18,1.0);
  --caribbean-green: rgba(11,212,128,1.0);
  --cod-gray: rgba(10,10,10,1.0);
  --eerie-black: rgba(29,29,31,1.0);
  --mine-shaft: rgba(51,51,51,0.949);
  --sonic-silver: rgba(117,117,121,1.0);
  --tundora: rgba(66,66,69,1.0);
  --tundora-2: rgba(66,66,69,0.949);
  --white: rgba(255,255,255,1.0);
}
